/* -------------------------------- Variabel -------------------------------- */
:root {
  --font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  --font-color: #333;
  --bg-color: #eaeaea;
  --color: #000;
  --primary-color: #0f172a;
  --secondary-color: #ea4999;
  --hover-color: #db2777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--bg-color);
  animation: memuatHalaman 1s;
}

/* ----------------------------- Animasi halaman ---------------------------- */
@keyframes memuatHalaman {
  from {
    opacity: 0;
    background-color: black;
    filter: blur(5px);
  }

  to {
    opacity: 1;
    background-color: var(--bg-color);
    filter: blur(0);
  }
}

/* --------------------------------- header --------------------------------- */
.header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 0 10px 0px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
}


#header__title {
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: default;
}

/* -------------------------------- navigasi -------------------------------- */
#title__sidebar {
  margin-bottom: 45px;
}

.sidebar {
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.sidebar__link {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid white;
  transition: all 0.2s ease;
}

.sidebar__link:hover {
  transition: all 0.2s ease;
  transform: translateX(8px);
  background-color: var(--hover-color);
  border-bottom: 1px solid white;
  color: white;
}

.sidebar__link.active {
  transform: translateX(8px);
  font-weight: bold;
  background-color: var(--hover-color);
}

/* ------------------------------- konten utama ------------------------------ */
.main {
  margin-left: 200px;
  padding: 20px;
}